section.contact {
	background-color: #beeeee;
}
section.contact .title-contact {
	background-color: #c8dbdb;
	text-align: center;
}
.section-contact {
    background: -webkit-linear-gradient(#ff0000, #2b0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container .form {
	color: #ffffff;
	background-color: rgba(0,0,0,.6);
	max-width: 650px;
	padding: 5px 35px;
	padding-bottom: 30px;
	border-radius: 7px;
}
.container .form .label-form {
	color: #ffffff;
	font-family: Verdana;
	text-align: left;
}
.container .form .input-form, .textarea-form {
	background: rgba(0,0,0,.7);
	border: unset;
	border-bottom: 2px solid #009AFF;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 3px;
	font-size: 14px;
	color: #ffffff;
	outline: none;
}
.container .form .textarea-form {
	resize: vertical;
	max-height: 150px;
	min-height: 50px;
}
.container .form .btn-submit {
	width: 100%;
	outline: none;
	background: #009AFF;
	font-size: 20px;
	border: none;
	color: #fff;
	padding: 15px 0px;
	cursor: pointer;
	transition: all .3s ease;
}
.container .form .btn-submit:hover {
	color: #009AFF;
	background: #000;
}