@import url('./header.css');
@import url('./nav.css');
@import url('./information.css');
@import url('./projects.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./popup.css');

html {
    scroll-behavior: smooth;
}

.react-scroll {
    position: relative;
    top: -50px;
}

.section-title {
    margin-bottom: 0px;
    padding: 50px 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 50px;
}

@media only screen and (max-width: 500px){
    .section-title {
        font-size: 35px;
    }
}