section.information .title-information {
	background-color: #f1f1f1;
	text-align: center;
}
section.information .title-information img {
	margin: 50px 0px;
	padding: 0px 15px;
	height: auto;
    min-width: 250px;
	max-width: 600px;
	width: 100%;
}