.menu {
	background: #383838;
	transition: all ease .5s;
	text-align: center;
	font-size: 20px;
}
.menu ul {
    list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.menu ul li {
    display: inline-block;
}
.menu ul li button {
    background: #383838;
    border: unset;
	display: block;
	padding: 15px 25px;
	color: #fff;
	color: #FFD700;
	font-weight: bold;
}
.menu ul li button:hover {
	background: #FFD700;
	color: #383838;
}
.menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;	
}