section.projects .title-projects {
	background-color: #edebcf;
	text-align: center;
}
.section-projects {
    background: -webkit-linear-gradient(#00a300, #002b00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section.projects div.projects {
	background-color: #fdfbdc;
}
.project-container img {
	border-radius: 25px;
	width: 100%;
	height: auto;
}
.project-container .btn-project {
	width: 100%;
	font-weight: bold;
	background-color: #f1d42e;
	padding: 5px 5px;
	transition: .3s ease all;
	border-radius: 5px;
	border: solid 2px #000000;
	font-size: 20px;
}
.project-container .btn-project:hover {
	background-color: #000000;
	border: solid 2px #f1d42e;
	color: #f1d42e;
}